<div class="row mt-5" *ngIf="relatedProducts[0]" id="relatedProducts">
    <h2 class="text-center">Related Products</h2>  
    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let product of relatedProducts" id="{{product.category}}"> 
        <div class="card text-center">
            <img class="card-img-top" src={{product.image}} alt="Card image" style="object-fit:cover;">
            <div class="card-body">
            <h4 class="card-title">{{product.name}}</h4>
            <h5>MRP: <s>{{product.mrp}}</s><br>
                Price: {{product.price}}</h5>
            <p class="card-text">{{product.desc | excerpt}}</p>
            <div class="btns">
                <a routerLink="/"><button class="btn">Add to Cart</button></a>
                <a routerLink="/category/{{product.category.toLowerCase()}}/{{product.name | modifyurl}}"><button class="btn">Buy Now</button></a>
            </div>
            </div>
        </div> 
    </div>
</div>